@import "palette";
@import "fonts";

#list-div {
  background-color: $light-teal;
  box-shadow: $shadow-props;
  margin: 4%;
  font-family: $roboto;
  width: 100%;
  align-self: flex-start;

  h2{
    background: $dark-teal;
    font-size: 30px;
    padding: 2%;
    box-shadow: $light-shadow-props;
  }

  table {
    width: 100%;
    thead {
      background: $teal;
      font-size: 20px;

      th {
        padding: 1% 2% 1% 2%;
      }
    }

    tbody {
      tr {
        td {
          padding: 1% 1% 0% 1%;
          text-align: center;
          vertical-align: middle;

          button {
            background-color: inherit;
            color: inherit;
            box-shadow: none;
            &:hover {
              color: $text-white;
            }

            &:active {
              color: $accent-orange;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

}
