@import "palette";
@import "fonts";

.data-upload {
  background-color: lightgrey;
  font-family: $roboto;
  margin: 4%;
  box-shadow: $shadow-props;
  display: flex;
  width: 100%;
  flex-direction: column;

  h2 {
    background-color: $teal;
    font-size: 30px;
    padding: 2.5%;
    color: white;
  }

  .dropzone {
    margin: auto;

    .drop-area {
      border: 2px $teal dashed;

      p {
        text-align: center;
        margin: 15%;
        color: $text-black;
      }
    }

    form {
      margin: 2% auto 2% auto;
      display: flex;
      flex-direction: column;

      label {
        margin: auto auto 1% auto;
        display: flex;
        align-items: center;
        input {
          margin: 2%;
          padding: 1%;
          min-width: 200px;
        }
      }

      button {
        box-shadow: 0px 1px 1px 0px grey;

        &:hover {
          box-shadow: 0px 2px 2px 0px grey;
        }
      }
    }
    ul {
      list-style: none;
      margin: 2% auto 2% auto;
    }
  }
}
