@import "palette";
@import "fonts";

#datasets-list-div {
  background-color: $light-teal;
  box-shadow: $shadow-props;
  margin: 4%;
  font-family: $roboto;

  h2{
    background: $dark-teal;
    font-size: 30px;
    padding: 1%;
    box-shadow: $light-shadow-props;
  }

  // Whole list
  #datasets-list {
    display: flex;
    flex-direction: column;

    .dataset-list-header {
      background-color: $teal;

      font-size: 18px;
      font-weight: bold;
      box-shadow: $light-shadow-props;
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 0.5% 2% 0.5% 2%;
    }
  }

}
