@import "palette";
@import "fonts";

.header  {
  background-color: $dark-teal;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-shadow: $shadow-props;

  h1  {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    padding: 1.25% 1% 1.25% 3.75%;
    color: $text-white;
  }

  .rightside {
    display: flex;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    padding-right: 5%;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    width: 350px;

    .rightside-text {
      color: $text-white;
      margin: 1.25% 1% 1.25% 1%;
      font-family: 'Roboto', sans-serif;
      font-kerning: normal;
    }

    .login-input {
      display: flex;
      min-width: 100px;
      margin: 12px;
    }

    .login-buttons {
      display: flex;
    }

    input {
      margin: 1.25% 0% 1.25% 2%;
    }

    label {
      margin: 1.25% 0% 1.25% 1%;
    }

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }

  }
  button {
    margin: 5px;
    padding: 4px;
    background-color: $accent-orange;
    border: none;
    text-decoration: none;
    color: $text-white;
    font-size: 14px;
  }
}
