@import "palette";
@import "fonts";

.header  {
  background-color: $dark-teal;
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-shadow: $shadow-props;

  a{
    text-decoration: none;
    padding: 1.25% 1% 1.25% 1%;
    h1  {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 36px;
      color: $text-white;
    }
  }


  .rightside {
    display: flex;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    padding-right: 5%;
    align-content: space-between;
    align-items: center;
    min-width: 350px;
    max-width: 350px;

    .rightside-text {
      display: flex;
      color: $text-white;
      margin: 1.25% 1% 1.25% 1%;
      font-family: 'Roboto', sans-serif;
      font-kerning: normal;
    }

    .login-input {
      display: flex;
      min-width: 100px;
      margin: 12px;
    }

    .login-buttons {
      display: flex;
    }

    input {
      margin: 1.25% 0% 1.25% 2%;
    }

    label {
      margin: 1.25% 0% 1.25% 1%;
    }

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }

  }
  button {
    margin: 2%;
    padding: 7px;
    background-color: $accent-orange;
    border: none;
    text-decoration: none;
    color: $text-white;
    font-size: 14px;
  }
}
