@import "palette";
@import "fonts";

.share-form {
  background-color: #eeeeee;
  font-family: $roboto;
  margin: 4%;
  box-shadow: $shadow-props;
  display: flex;
  width: 100%;
  flex-direction: column;

  h2 {
    font-size: 30px;
    padding: 2%;
    background-color: $teal;
    color: white;
  }

  form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;

    label {
      margin: 2%;

      select {
        margin: 3% 0% 3% 0%;
        width: 100%;
      }


    }

    button {
      box-shadow: 0px 1px 1px 0px grey;

      &:hover {
        box-shadow: 0px 2px 2px 0px grey;
      }
    }

    ul {
      margin: auto;
      padding-top: 2%;
    }
  }

}
