@import "palette";
@import "fonts";

.chart-view {
  width: 100%;
  font-family: $roboto;
  margin: 4%;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-props;
  background: lightgrey;


  h2 {
    background: $teal;
    font-size: 30px;
    padding: 2%;
    height: 5%;
    color: white;
  }

  .chart-div {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 5%;
  }
}
