@import "palette";
@import "fonts";

.chart-view {
  width: 100%;
  font-family: $roboto;
  margin: 4%;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-props;

  h2 {
    background: $dark-teal;
    font-size: 30px;
    padding: 2%;
    height: 5%
  }

  .chart-div {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 5%;
  }
}
