@import "fonts";
@import "palette";

nav {
  margin-top: 3%;
  background-color: $dark-teal;
  display: flex;
  flex-flow: column wrap;
  width: 18%;
  height: 500px;
  box-shadow: $shadow-props;

  a {
    font-family: $roboto;
    font-size: 18px;
    text-decoration: none;
    color: $text-white;
    padding: 10%
  }

  .active {
    font-weight: bold;
    font-size: 20px;
  }
}
