@import "fonts";
@import "palette";

nav {
  background-color: $dark-teal;
  display: flex;
  flex-flow: column wrap;
  width: 18%;
  box-shadow: $shadow-props;

  a {
    font-family: $roboto;
    font-size: 18px;
    text-decoration: none;
    color: $text-white;
    padding: 15% 10% 15% 10%;
  }

  .active {
    font-weight: bold;
    font-size: 20px;
  }
}
