@import "fonts";
@import "palette";

#signup-content {
  display: flex;

  .signup-box: {
    display: flex;
    flex-flow: column;
  }

  #blurb {
    background-color: $teal;
    margin: 5%;
    box-shadow: $shadow-props;

    h3 {
      font-size: 26px;
      margin: 20px 0px 30px 30px;
    }

    p {
      font-size: 18px;
      margin: 30px 60px 30px 30px;
    }
  }

  #signup-form {
    background-color: $teal;
    margin: 5% 5% 5% 16%;
    box-shadow: $shadow-props;

    label {
      font-size: 18px;
    }

    form {
      h4 {
        font-size: 24px;
        margin-bottom: 3%;
      }

      input {
        margin: 4% 2% 4% 2%;
      }

      flex-flow: column wrap;
      padding: 30px;

      div {
        margin: 5%;
      }
    }
  }
}

.signup-text {
  font-family: 'Roboto', sans-serif;
}

button {
  margin: 5px;
  padding: 4px;
  background-color: $accent-orange;
  border: none;
  text-decoration: none;
  color: $text-white;
  font-size: 14px;
  box-shadow: $button-shadow-props;

  &:hover {
    box-shadow: $button-hover-shadow;
    cursor: pointer;
  }

  &:active {
    background-color: $text-grey;
  }
}
