@import "fonts";
@import "palette";

#signup-content {
  display: flex;

  .signup-box: {
    display: flex;
    flex-flow: column;
  }

  #blurb {
    background-color: $teal;
    margin: 15px;

    h3 {
      font-size: 26px;
    }

    p {
      font-size: 18px;
    }
  }

  #signup-form {
    background-color: $teal;
    margin: 15px;

    label {
      font-size: 18px;
    }

    h4 {
      font-size: 24px;
    }

    form {
      flex-flow: column wrap;
    }
  }
}

.signup-text {
  font-family: 'Kreon', serif;
  padding: 5px;
}
